# Byte-code files
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/

# Environment variables
.env
.flaskenv

# Generated videos
app/videos/

# Logs
logs/
*.log

# IDE-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Vercel specific files (if you don't want to commit .vercel/output)
.vercel/output/
